<style>
.block{
width:250px;
border:3px solid #999;
padding:10px;
margin:10px;
border-radius:10px;
background:#f5f5f5;
}

.valid{
border-color:green;
}

.invalid{
border-color:red;
}

input,textarea{
width:100%;
margin-bottom:5px;
}
</style>
{% extends "layout.html" %}

{% block content %}

<h1>Blockchain</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

<div style="display:flex;flex-wrap:wrap">

{% for block in chain %}

<div class="block">

<label>Block</label>
<input id="block{{loop.index}}" value="{{block.block}}" readonly>

<label>Nonce</label>
<input id="nonce{{loop.index}}" value="{{block.nonce}}">

<label>Data</label>
<textarea id="data{{loop.index}}" oninput="updateChain({{loop.index}})"></textarea>
<label>Prev</label>
<input id="prev{{loop.index}}" value="{{block.prev}}" readonly>

<label>Hash</label>
<input id="hash{{loop.index}}" value="{{block.hash}}" oninput="updateChain({{loop.index+1}})">
<button onclick="mine({{loop.index}})">Mine</button>

</div>

{% endfor %}

</div>

<script>

function calculateHash(block,nonce,data,prev){

let text=block+nonce+data+prev

return CryptoJS.SHA256(text).toString()

}

function updateHash(i){

let block=document.getElementById("block"+i).value
let nonce=document.getElementById("nonce"+i).value
let data=document.getElementById("data"+i).value
let prev=document.getElementById("prev"+i).value

let hash=calculateHash(block,nonce,data,prev)

document.getElementById("hash"+i).value=hash

}

function mine(i){

let block=document.getElementById("block"+i).value
let data=document.getElementById("data"+i).value
let prev=document.getElementById("prev"+i).value

let nonce=0

while(true){

let text=block+nonce+data+prev
let hash=CryptoJS.SHA256(text).toString()

if(hash.startsWith("0000")){

document.getElementById("nonce"+i).value=nonce
document.getElementById("hash"+i).value=hash

break

}

nonce++

}

updateChain(i+1)
validateBlocks()

}

function updateChain(start){

for(let j=start;j<=5;j++){

let block=document.getElementById("block"+j).value
let nonce=document.getElementById("nonce"+j).value
let data=document.getElementById("data"+j).value

let prev

if(j==1){
prev=document.getElementById("prev1").value
}
else{
prev=document.getElementById("hash"+(j-1)).value
document.getElementById("prev"+j).value=prev
}

let text=block+nonce+data+prev
let hash=CryptoJS.SHA256(text).toString()

document.getElementById("hash"+j).value=hash


}
validateBlocks()
}
function validateBlocks(){

for(let i=1;i<=5;i++){

let hash=document.getElementById("hash"+i).value

if(hash.startsWith("0000")){
document.getElementsByClassName("block")[i-1].classList.add("valid")
document.getElementsByClassName("block")[i-1].classList.remove("invalid")
}
else{
document.getElementsByClassName("block")[i-1].classList.add("invalid")
document.getElementsByClassName("block")[i-1].classList.remove("valid")
}

}

}

</script>

{% endblock %}